body {
  text-align: center;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

span {
  display: inline-block;
  align-content: center;
  /* biar number di tengah2 circle */
  width: 30px;
  height: 30px;
  /* width ama height fixed biar perfect circle, kalo gk jadi lonjong */
  border: 1px;
  border-style: dashed;
  border-radius: 50%; 
  /* 50% border radius 4 circle */
}

button {
  background-color: #acdcd8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #e82a5a;
}